@model IEnumerable<GCP_CF.Models.EstadosFases>

@{
    ViewBag.Title = "Index";
}

<h2>Estados Fases</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Estado_Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Estado_Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Estado_Id })
        </td>
    </tr>
}

</table>
